/* Todas as mídias */

/* Typical device breakpoints:

pequenas telas: até 600px
celular : de 600px até 768px
tablet: de 768px até 992px
pc e notebook: de 992px até 1200px
grandes telas: acima de 1200px

*/

@media print { /* impressora */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }
    main {
        border: 2px solid black;
    }
    h1 {
        text-shadow: none;
        color: black;
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* não preciso configurar dessa vez pq ja fiz a configuraçao na outra aba do css pra celular

@media screen and (max-width: 600px) {
    configuraçao para pequenas telas
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    configuraçao para celular
}
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* pc e notebook */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 1200px) { /* grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}


